/* 전체 스크롤바 스타일 */
::-webkit-scrollbar {
  width: 8px; /* 스크롤바의 너비 조정 */
}

/* 스크롤바 색상 */
::-webkit-scrollbar-thumb {
  background-color: #888; /* 스크롤바 색상 설정 */
  border-radius: 4px; /* 스크롤바 모서리를 둥글게 설정 */
}

/* 스크롤바가 있는 영역의 배경색 */
::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* 스크롤바 영역 배경색 설정 */
}

@font-face {
  font-family: 'NeoDGM';
  src: url('/public/fonts/neodgm.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'NeoDGM', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sidebar_modal {
  background-color: #fff;
  padding: 5px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  border: 4px solid black;
}