.background {
  background: url(/public/assets/loginimage.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.modal {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  border: 4px solid black;
}

.logo {
  font-size: 60px;
  letter-spacing: 0.1em;
  word-spacing: -0.3em;
  user-select: none; 
}

.input {
  padding: 1em;
  margin: 0.5em;
  color: black;
  background: white;
  border: 1px solid black;
  border-radius: 3px;
  width: 73%;
}

.separator {
  border-top: 1px solid #ddd;
  width: 80%;
  margin: 0.5em auto;
}

.enter-login,
.kakao-login {
  background: rgb(109, 206, 245);
  color: black;
  font-size: 1em;
  font-weight: bold;
  margin: 0.5em;
  padding: 0.5em 1em;
  border: none;
  border-radius: 3px;
  width: 80%;
  height: 48px;
  transition: all 0.3s ease;
}

.enter-login:hover,
.kakao-login:hover {
  background: rgb(200, 200, 200);
  cursor: pointer;
  
}

.enter-login:active,
.kakao-login:active {  
  background: rgb(150, 150, 150);
}

.link {
  color: black;
  text-decoration: none;
  align-self: flex-start;
  margin-bottom: 1em;
}

.kakao-login {
  background: url('/public/assets/kakao_login_medium_wide.png') no-repeat;
  background-size: cover;
  height: 48px;
}
