.button {
    background: deepskyblue;
    color: white;
    font-size: 1em;
    margin: 1em;
    padding: 0.5em 1em;
    border: none;
    border-radius: 3px;
    width: 85%;
    transition: all 0.3s ease;
}

.button:hover {
    background: lightgray;
    cursor: pointer;
}

.button:active {
    background: dodgerblue;
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.pagination button {
    width: 20px;
    height: 20px;
    font-size: 15px;
    border-radius: 50%;
    border: none;
    background-color: white;
    color: black;
    cursor: pointer;
    transition: all 0.3s ease;
}

.pagination button.current-page {
    background-color: deepskyblue;
}

.pagination button.arrow-btn {
    background-color: transparent;
    width: auto;
    border-radius: 0;
}

.table {
    width: 90%;
    border-collapse: collapse; /* 테두리 겹치게 */
    margin: 0 auto;
}

.table th,
.table td {
    border: 2px solid black;
    padding: 10px;
    text-align: center;
}

.table .userInfo {
    width: 75%;
}

.table .matchRate {
    width: 25%;
}

.redText {
    color: red;
}

.selectfilter {
    font-size: 20px
}

.selectbox {
    width: 150px;
    height: 30px;
}