.mate_modal {
    background-color: #fff;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    border: 4px solid black;
}

.button {
    background: deepskyblue;
    color: white;
    font-size: 1em;
    margin: 1em;
    padding: 0.5em 1em;
    border: none;
    border-radius: 3px;
    width: 85%;
    transition: all 0.3s ease;
}

.button:hover {
    background: lightgray;
    cursor: pointer;
}

.button:active {
    background: dodgerblue;
}

.table {
    width: 90%;
    border-collapse: collapse; /* 테두리 겹치게 */
    margin: 0 auto;
}

.table th,
.table td {
    border: 2px solid black;
    padding: 10px;
    text-align: center;
}

.table .userInfo {
    width: 75%;
}

.table .matchRate {
    width: 25%;
}
