.search {
    width: 80%;
    margin-top: 10px;
    margin-bottom: 20px;
}
.search input {
    width: 70%;
    padding: 0 10px;
    background-color: #D9D9D9;
    box-sizing: border-box;
    border-radius: 0.5rem;
    border:none;
    height:22px;
}
.search button {
    width: 20%;
    height:22px;
    margin-left: 10px;
    border-radius: 0.5rem;
    font-size: medium;
}

.scrollbox {
    width:100%;
    overflow-y: scroll;
}
.profile {
    width: 85%;
    display: flex;
    margin: 5px 0;
    margin-left:10%
}
.scrollbox hr {
    width :80%
}
.profile img {
    width: 60px ;
    height: 60px;
    margin-right: 10px;
}
.profiledata{
    width:80%;
    text-align: left;
    margin-top:5px;
}
.profilebtn {
    /* width: 100%; */
    min-width: 35px;
    height:22px;
    border-radius: 0.5rem;
    font-size: medium;
    margin-bottom: 10px;
}

.button {
    background: deepskyblue;
    color: white;
    font-size: 1em;
    margin: 5px;
    padding: 0.5em 1em;
    border: none;
    border-radius: 3px;
    width: 80%;
    transition: all 0.3s ease;
}

.buttons {
    margin-right: 0.1em;
}

.x {
    height: 100%;
    align-self: center;
    font-size: 24px;
    cursor: pointer;
    color: red;
}