.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);  
  display: flex;
  justify-content: center;
  align-items: center;
}

.withdraw_modal {
  background-color: rgba(109, 206, 245, 1);
  border-radius: 1rem;
  width: 600px;
  height: 380px;
  padding: 20px;
  box-sizing: border-box;
  color : white;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
  .withdraw_modal p {
    margin-top :0;
    font-size:14px
  } 
  
.input {
    width: 300px;
    height: 40px;
    border-radius: 0.5rem;
    Text-Align :Center;
    font-size: larger;
}

.btn {
    margin-top:0px
}
.btn .button {
    width: 220px;
    height: 20vh;
    font-size: 20px;
    border-radius: 1rem;
    margin:30px 20px;
    cursor: pointer;
}
.btn .disabled_button {
  width: 220px;
  height: 20vh;
  font-size: 20px;
  border-radius: 1rem;
  margin:30px 20px;
  pointer-events: none;
}

.two_btn {
    width: 95%;
    margin:0;
    display: flex;
    justify-content: space-between;
  }
  
.two_btn span{
cursor: pointer;
}

.two_btn span:hover {
color:gray
}

.bye_modal {
  background-color: rgba(109, 206, 245, 1);
  border-radius: 1rem;
  width: 700px;
  height: 300px;
  padding: 20px;
  box-sizing: border-box;
  color : white;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.withdraw {
  width: 90%;
  text-align: right;
  color: red;
  cursor: pointer;
}