.withdraw_modal {
    background-color: rgba(109, 206, 245, 1);
    border-radius: 1rem;
    width: 600px;
    height: 380px;
    padding: 20px;
    box-sizing: border-box;
    color : white;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .withdraw_modal p {
    margin-top :0;
    font-size:14px
  } 
  
.input {
    width: 300px;
    height: 40px;
    border-radius: 0.5rem;
    Text-Align :Center;
    font-size: larger;
}

.btn {
    margin-top:10px
}
.btn button {
    width: 100px;
    font-size: 20px;
    border-radius: 1rem;
    margin:10px
}

.two_btn {
    width: 95%;
    margin:0;
    display: flex;
    justify-content: space-between;
  }
  
.two_btn span{
cursor: pointer;
}

.two_btn span:hover {
color:gray
}

.bye_modal {
  background-color: rgba(109, 206, 245, 1);
  border-radius: 1rem;
  width: 700px;
  height: 300px;
  padding: 20px;
  box-sizing: border-box;
  color : white;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
